<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a style="background: #ccc;" class="navbar-brand" >Bodega</a>-->
    </div>
      <ul class="nav navbar-nav" id="nav">
        <% if(!user){%>
        <li style="background: #ccc;"><a href="/login">Ingresa</a></li>
        <%}else{%>
          <strong><a style="padding-left: 5px;background: #000;color: #fff;" class="navbar-brand" >Bienvenido: <%= user.nombre %> </a></strong>
          <li class=""><a href="/">Inicio</a></li>
          <li><a href="/auth/logout">Salir</a></li>
        <%}%>
    </ul>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<script type="text/javascript">
$( document ).ready(function() {
  <% if(user){%>
    var usuario = '<%- user.rol %>'; // Se asigna el id
    $.ajax({
      type: "GET",
      url: "/menurol/"+usuario,
      //url: "/menurol/5bbccd5f6ed77f03ef59f660",
      success: function(data){
        if(!data.err){
          var opciones = data.opciones;
          for (var i = 0; i < opciones.length; i++) {
            $( "#nav" ).append( "<li class=''><a href="+opciones[i].path+">"+opciones[i].name+"</a></li>" );
          }
        }else{
          alert(data.err);
        }
      }
    });
  <%}%>
});
</script>
