<% include ./partials/head.ejs %>
<title>Edit</title>
<!-- <link rel="stylesheet" href="/css/signup.css"> -->
</head>
<body>
<% include ./partials/navbar.ejs %>
<div class="container">
  <div class="row">
    <div style="width: 60%;" class="col-md-4">
      <h1>Edición de información de usuarios</h1>
      <form action="/edituser/<%= usuarios._id %>" method="post">
        <div class="form-group">
          <input type="text" name='nombre' placeholder='Nombre' value="<%= usuarios.nombre %>" class="form-control" required autofocus>
        </div>
        <div class="form-group">
          <input type="text" name='apellido' placeholder='Apellido' value="<%= usuarios.apellido %>" class="form-control" required autofocus>
        </div>
        <div class="form-group">
          <input type="email" name='email' placeholder='Email' value="<%= usuarios.email %>" class="form-control" required autofocus>
        </div>
        <div class="form-group">
          <input type="password" name='password' placeholder='Password' value="<%= usuarios.password %>" class="form-control" required>
        </div>
        <div class="form-group">
          <input type="number" name='edad' placeholder='edad' value="<%= usuarios.edad %>" class="form-control" pattern="[1-9]?[0-9]" maxlength="2" min="0">
        </div>
        <div class="form-group">
          <label for="rol">Rol</label>
          <select style = "width: 140px;" name="rol" id="rol">
            <% for(var i=0; i < roles.length; i++) { %>
            <option value="<%= roles[i]._id %>"><%= roles[i].nombre %></option>
            <% } %>
          </select>
        </div>
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href="/signup" class="btn btn-danger">Cancelar</a></td>
      </form>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>
<!-- <script src="/js/signup.js"></script> -->
</body>
</html>
