<% include ./partials/head.ejs %>
<title>Menú</title>
<!-- <link rel="stylesheet" href="/css/login.css"> -->
</head>
<body>
<% include ./partials/navbar.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Edición de información de Menú</h1>
      <form  action="/editmenu/<%= menus._id %>" method="post">
        <div class="form-group">
          <input type="text" name='name' placeholder="Ingresa el Nombre del menú"
          value="<%= menus.name %>" class="form-control" required autofocus>
        </div>
        <div class="form-group">
          <input type="text" name='path' placeholder="Ingresa la ruta"
          value="<%= menus.path %>" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href="/menu" class="btn btn-danger">Cancelar</a></td>
      </form>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>

</body>
</html>
