<% include ./partials/head.ejs %>
<title>Roles</title>
<!-- <link rel="stylesheet" href="/css/login.css"> -->
</head>
<body>
<% include ./partials/navbar.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>Edición de la información de roles</h1>
      <form  action="/editrol/<%= roles._id %>" method="post">
        <div class="form-group">
          <input type="text" name='nombre' placeholder="Ingresa el nombre del rol"
          value="<%= roles.nombre %>" class="form-control" required autofocus>
        </div>
        <div class="form-group">
          <input type="text" name='descripcion' placeholder="Ingresa una descripción"
          value="<%= roles.descripcion %>" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href="/rol" class="btn btn-danger">Cancelar</a></td>
      </form>
    </div>

  </div>

</div>
</div>

<% include ./partials/footer.ejs %>
</body>
</html>
