    <% include ./partials/head.ejs %>
    <title>Inicio</title>
</head>
<body>
    <% include ./partials/navbar.ejs %>
    <img src="//cdn.shopify.com/s/files/1/0809/7929/t/20/assets/TEXTO-2.png?11127108877408788696"/>
</body>
</html>
