<% include ./partials/head.ejs %>
<title>Menu-Rol</title>
<!-- <link rel="stylesheet" href="/css/signup.css"> -->
<style>
#sortable1, #sortable2 {
	border: 3px solid #eee;
	width: 250px;
	min-height: 170px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
  background: #E3F1FB;
}
#sortable1 li, #sortable2 li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 160px;
}
</style>
</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Asignación de Menú</h1><br>
				<form action="/auth/menurol" method="POST">
					<div class="form-group">
						<label for="rol">Rol</label>
						<select class="form-control selcls" style = "width: 140px;background-color: #bbb;" name="rol" id="rol">
							<% for(var j=0; j < roles.length; j++) { %>
								<option value="<%= roles[j]._id %>"><%= roles[j].nombre %></option>
							<% } %>
						</select>
					</div>
					<div class="form-group">
						<p>Presiona la tecla Ctrl (windows) / Command (Mac) para seleccionar múltiples opciones en el menú.</p><br>
							<select class="selectme" name="menu_items" multiple>
							<% for(var j=0; j < menus.length; j++) { %>
								<option value="<%= menus[j]._id %>"><%= menus[j].name %></option>
							<% } %>
						</select>
					</div>
					<button style="" type="submit" class="btn btn-success">Aceptar</button>
			</div>
			<div class="col-md-4">
	      <table id="tabla" style="margin-top: 68px;width: 480px;" class="table table-bordered table-hover">
	        <thead>
	          <tr>
	            <th style="text-align: center;">Rol</th>
	            <th style="text-align: center;">Menu asignado</th>
	          </tr>
	        </thead>
	        <tbody>
	          <% for(var i=0; i < menuroles.length; i++) { %>
	            <tr>
								<td><%= menuroles[i].rol.nombre %></td>
	              <td><%= menuroles[i].opciones %></td>
	            </tr>
	          <% } %>
	        </tbody>
	      </table>
	    </div>
		</div>
	    </form>
		</div>
	</div>
</div>
<% include ./partials/footer.ejs %>
</body>
</html>
