<% include ./partials/head.ejs %>
<title>Menú</title>
<!-- <link rel="stylesheet" href="/css/login.css"> -->
</head>
<body>
<% include ./partials/navbar.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Registro de Menú</h1>
      <form  action="/auth/menu" method="POST">
        <div class="form-group">
          <input type="text" name='name' placeholder="Ingresa el Nombre del menú" class="form-control" required autofocus>
        </div>
        <div class="form-group">
          <input type="text" name='path' placeholder="Ingresa la ruta" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Aceptar</button>
      </form>
    </div>
    <div class="col-md-4">
      <table id="tabla" style="margin-top: 68px;width: 480px;" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Ruta</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < menus.length; i++) { %>
            <tr>
              <td><%= menus[i].name %></td>
              <td><%= menus[i].path %></td>
              <td><a href="/editmenu/<%= menus[i]._id %>" class="btn btn-info">Editar</a>
              <a href="/deletemenu/<%= menus[i]._id %>" class="btn btn-danger">Eliminar</a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>

</body>
</html>
