	<% include ./partials/head.ejs %>
	<title>Roles</title>
	<!-- <link rel="stylesheet" href="/css/login.css"> -->
</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Registro de roles</h1>
				<form  action="/auth/rol" method="POST">
					<div class="form-group">
						<input type="text" name='nombre' placeholder="Ingresa el nombre del rol" class="form-control" required autofocus>
					</div>
					<div class="form-group">
						<input type="text" name='descripcion' placeholder="Ingresa una descripción" class="form-control" required>
					</div>
					<button type="submit" class="btn btn-success">Aceptar</button>
				</form>
			</div>
			<div style="margin-top: 68px;" class="col-md-4">
	      <table style="width:500px" class="table table-bordered table-hover">
	        <thead>
	          <tr>
	            <th>Nombre</th>
	            <th>Descripción</th>
							<th>Acciones</th>
	          </tr>
	        </thead>
	        <tbody>
	          <% for(var i=0; i < roles.length; i++) { %>
	            <tr>
	              <td><%= roles[i].nombre %></td>
	              <td><%= roles[i].descripcion %></td>
								<td><a href="/editrol/<%= roles[i]._id %>" class="btn btn-info">Editar</a>
                  	<a href="/deleterol/<%= roles[i]._id%>" class="btn btn-danger">Eliminar</a>
									</td>
	            </tr>
	          <% } %>
	        </tbody>
	      </table>
	    </div>
		</div><br>

  </div>
	</div>

	<% include ./partials/footer.ejs %>
</body>
</html>
