	<% include ./partials/head.ejs %>
	<title>Registro</title>
	<!-- <link rel="stylesheet" href="/css/signup.css"> -->
</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1>Registro de usuarios</h1>
				<form action="/signup" method="POST">
					<div class="form-group">
						<input type="text" name='nombre' placeholder='Nombre' class="form-control" required autofocus>
					</div>
					<div class="form-group">
						<input type="text" name='apellido' placeholder='Apellido' class="form-control" required autofocus>
					</div>
					<div class="form-group">
						<input type="email" name='email' placeholder='Email' class="form-control" required autofocus>
					</div>
					<div class="form-group">
						<input type="password" name='password' placeholder='Password' class="form-control" required>
					</div>
					<div class="form-group">
						<input type="number" name='edad' placeholder='edad' class="form-control" pattern="[1-9]?[0-9]" maxlength="2" min="0">
					</div>
					<div class="form-group">
						<label for="rol">Rol</label>
						<select class="form-control selcls" style = "width: 140px;background-color: #9ec5ec26;" name="rol" id="rol">
							<% for(var i=0; i < roles.length; i++) { %>
							<option value="<%= roles[i]._id %>"><%= roles[i].nombre %></option>
							<% } %>
						</select>
					</div>
					<button type="submit" class="btn btn-success">Aceptar</button>
				</form>
			</div>
			<div class="col-md-4">
	      <table style="margin-top: 68px;width:780px" class="table table-bordered table-hover">
	        <thead>
	          <tr>
	            <th>Nombre</th>
	            <th>Apellido</th>
							<th>Email</th>
							<th>Rol</th>
							<th>Acciones</th>
	          </tr>
	        </thead>
	        <tbody>
	          <% for(var i=0; i < usuarios.length; i++) { %>
	            <tr>
	              <td><%= usuarios[i].nombre %></td>
	              <td><%= usuarios[i].apellido %></td>
								<td><%= usuarios[i].email %></td>
								<td><%= usuarios[i].rol.nombre %></td>
								<td>
									<a href="/edituser/<%= usuarios[i]._id %>" class="btn btn-info"> Editar</a>
									<a href="/deleteuser/<%= usuarios[i]._id %>" class="btn btn-danger">Eliminar</a>
								</td>
	            </tr>
	          <% } %>
	        </tbody>
	      </table>
	    </div>
		</div>
	</div>

	<% include ./partials/footer.ejs %>
	<!-- <script src="/js/signup.js"></script> -->
</body>
</html>
