<!--<% if (user) {%>
  <% if (user.rol === 'visitante') {%>
    <li><a href="/visitante">Menú</a></li>
  <%} else if (user.rol === 'administrador') {%>
    <li><a href="/administrador">Menú</a></li>
  <%}%>

  <li><a href="/auth/logout">Salir</a></li>
   <div style= "padding-left: 600px;" class="navbar-header">
<a class="navbar-brand">Bienvenido: <%= user.alias %></a>
</div>
<%} else {%>-->


<%}%>


<!--<% if (user) {%>
   user.rol= rol
  <% if (rol === 'Menurol.findOne().populate("rol")') {%>
      <% for(var j=0; j < menus.length; j++) { %>

    <li><a href="<%= menus[j]._id %>"><%= menus[j].nombre %></a></li>
  <%}

<%}%>
