<% include ./partials/head.ejs %>
<title>Registro</title>
<!-- <link rel="stylesheet" href="/css/signup.css"> -->
</head>
<body>
<% include ./partials/navbar.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Usuarios registrados</h1>
       <table style="margin-top: 68px;width:780px" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Email</th>
            <th>Rol</th>
          </tr>
         </thead>
        <tbody>
          <% for(var i=0; i < usuarios.length; i++) { %>
            <tr>
              <td><%= usuarios[i].nombre %></td>
              <td><%= usuarios[i].apellido %></td>
              <td><%= usuarios[i].edad %></td>
              <td><%= usuarios[i].email %></td>
              <td><%= usuarios[i].rol.nombre %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include ./partials/footer.ejs %>
<!-- <script src="/js/signup.js"></script> -->
</body>
</html>
