[data-drop-target] {
			height: 200px;
			width: 200px;
			margin: 25px;
			background-color: gainsboro;
			float: left;
		}
		.drag-enter {
			border: 2px dashed #000;
		}
		.box {
			width: 100px;
			height: 100px;
      float: left;
		}
    .box:nth-child(3) {
      clear: both;
    }
		.navy {
			background-color: navy;
		}
		.red {
			background-color: firebrick;
		}
    .green {
			background-color: darkgreen;
		}
		.orange {
			background-color: orange;
		}

    table {
        background-color: #9ec5ec26;
    }

		img {

	background-color: black;
    width: 100%;
    height: 450px;
}

.selectme {
			width: 160px;
	    height: 130px !important;
	    border: 2px solid #000;
	    background: #eee;
	    text-align: center;
}
